#background{
    position:absolute;
    z-index:0;
    display:block;
    min-height:50%; 
    min-width:50%;
    color:pink;
}

#content{
    position:absolute;
    z-index:1;
}

#bg-text
{
    
    font-size:60px;
    transform:rotate(120deg);
    -webkit-transform:rotate(120deg);
}